header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

main {
    margin: 20px;
}

#party-list {
    margin-bottom: 20px;
}

#addParty {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

#addPartyForm label {
    display: block;
    margin-bottom: 5px;
}

#addPartyForm input[type="text"],
#addPartyForm input[type="date"],
#addPartyForm input[type="time"],
#addPartyForm textarea {
    width: 100%;
    margin-bottom: 10px;
}

#addPartyForm button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#addPartyForm button:hover {
    background-color: #555;
}

#party-list .party {
    margin-bottom: 20px; 
}

#party-list .party p {
    margin-bottom: 5px; 
}

#party-list .party p.time {
    margin-bottom: 10px; 
}
