
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
}

main {
   
    padding: 20px;
    display: flex;
    justify-content: center;
}

#party-list {
    margin-bottom: 20px;
    margin-right: 30px;
}

#addParty div {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-right: 10px;
}

#addPartyForm label {
    display: block;
    margin-bottom: 5px;
}

#addPartyForm input[type="text"],
#addPartyForm input[type="date"],
#addPartyForm input[type="time"],
#addPartyForm textarea {
    width: 100%;
    display: block;
}

.add-party-button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin-top: 10px; 
    border-radius: 4em;
}

.add-party-button:hover {
    background-color: #0056b3; 
}
#party-list .party {
    margin-bottom: 20px; 
}

#party-list .party p {
    margin-bottom: 5px; 
}

#party-list .party p.time {
    margin-bottom: 10px; 
}
#addPartyForm div {
    margin-bottom: 15px; 
    display: flex;
    flex-direction: column;
}
#party-list .party .delete-btn {
    background-color: #dc3545; 
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5em;
}

#party-list .party .delete-btn:hover {
    background-color: #c82333; 
}